.OptForm__Container {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-bottom: 30px;
  flex-wrap: wrap;
  border-bottom: 8px solid #222;
}
@media (max-width: 1000px) {
  .OptForm__Container {
    flex-direction: column;
    align-items: center;
    border-bottom: 8px solid #222;
  }
}

.OptForm__Input {
  max-width: 450px;
  width: 100%;
  border: 0;
  padding: 10px;
  height: 70px;
  box-sizing: border-box;
}

.OptForm__Break {
  flex-basis: 100%;
  height: 0;
}

.OptForm__Button {
  display: flex;
  align-items: center;
  height: 70px;
  background: #e50914;
  color: white;
  text-transform: uppercase;
  padding: 0 32px;
  font-size: 26px;
  border: 0;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .OptForm__Button {
    height: 50px;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
  }
}

.OptForm__Button:hover {
  background: #f40612;
}

.OptForm__Button img {
  margin-left: 10px;
  filter: brightness(0) invert(1);
  width: 24px;
}
@media (max-width: 1000px) {
  .OptForm__Button img {
    width: 16px;
  }
}

.OptForm__Text {
  margin-top: 10px;
  font-size: 19.2px;
  color: white;
  text-align: center;
  padding: 10px 0px;
}
@media (max-width: 600px) {
  .OptForm__Text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
  }
}
