.Footer__Container {
  display: flex;
  padding: 70px 0;
  margin: auto;
  max-width: 1000px;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .Footer__Container {
    padding: 70px 30px;
  }
}

.Footer__Column {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Footer__Row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 15px;
}

@media (max-width: 1000px) {
  .Footer__Row {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.Footer__Link {
  color: #757575;
  margin-bottom: 20px;
  font-size: 13px;
  text-decoration: none;
}

.Footer__Title {
  font-size: 16px;
  color: #757575;
  margin-bottom: 40px;
}

.Footer__Text {
  font-size: 13px;
  color: #757575;
  margin-bottom: 40px;
}

.Footer__Break {
  flex-basis: 100%;
  height: 0;
}
