.Accordion__Container {
  display: flex;
}

.Accordion__Frame {
  margin-bottom: 40px;
}

.Accordion__Inner {
  display: flex;
  padding: 70px 45px;
  flex-direction: column;
  max-width: 815px;
  margin: auto;
}

.Accordion__Title {
  font-size: 50px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 8px;
  color: white;
  text-align: center;
}
@media (max-width: 600px) {
  .Accordion__Title {
    font-size: 35px;
  }
}

.Accordion__Item {
  display: flex;
  flex-direction: column;
  color: white;
  margin: auto;
  margin-bottom: 10px;
  max-width: 728px;
  width: 100%;
}

.Accordion__Item:first-of-type {
  margin-top: 3em;
}

.Accordion__Item:last-of-type {
  margin-bottom: 0;
}

.Accordion__Header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 1px;
  font-size: 26px;
  font-weight: normal;
  background: #303030;
  padding: 0.8em 1.2em;
  user-select: none;
  align-items: center;
  width: 100%;
}
@media (max-width: 600px) {
  .Accordion__Header {
    font-size: 16px;
  }
}

.Accordion__Header img {
  filter: brightness(0) invert(1);
  width: 24px;
  user-select: none;
}
@media (max-width: 600px) {
  .Accordion__Header img {
    width: 16px;
  }
}

.Accordion__Body {
  font-size: 26px;
  font-weight: normal;
  line-height: normal;
  background: #303030;
  white-space: pre-wrap;
  user-select: none;
  overflow: hidden;
  width: 108.5%;
}
@media (max-width: 600px) {
  .Accordion__Body {
    font-size: 16px;
    line-height: 22px;
    width: 113%;
  }
}

.Accordion__closed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}

.Accordion__open {
  max-height: 1200px;
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}

.Accordion__Body span {
  display: block;
  padding: 0.8em 2.2em 0.8em 1.2em;
}
