/* import { Link as ReachRouterLink } from 'react-router-dom'; */

.Forms__Container {
  display: flex;
  flex-direction: column;
  min-height: 660px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  width: 100%;
  margin: auto;
  max-width: 450px;
  padding: 60px 68px 40px;
  margin-bottom: 100px;
}

.Forms__Error {
  background: #e87c03;
  border-radius: 4px;
  font-size: 14px;
  margin: 0 0 16px;
  color: white;
  padding: 15px 20px;
}

.Forms__Base {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
}

.Forms__Title {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 28px;
}

.Forms__Text {
  color: #737373;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
}

.Forms__TextSmall {
  margin-top: 10px;
  font-size: 13px;
  line-height: normal;
  color: #8c8c8c;
  padding: 10px;
}

.Forms__Link {
  color: #fff;
  text-decoration: none;
}

.Forms__Link:hover {
  text-decoration: underline;
}

.Forms__Input {
  background: #333;
  border-radius: 4px;
  border: 0;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 5px 20px;
  margin-bottom: 20px;
}

.Forms__Input:last-of-type {
  margin-bottom: 30px;
}

.Forms__Submit {
  background: #e50914;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  margin: 24px 0 12px;
  padding: 16px;
  border: 0;
  color: white;
  cursor: pointer;
}

.Forms__Submit:disabled {
  opacity: 0.5;
}
